{% extends 'lab3app/groupmessage.html' %}

{% block page_title %}解散分组{% endblock %}

{% block page_group %}

            <h3>你所在的分组：</h3>
            <table class="table">
            <thead>
              <tr>
                <th>组名</th>
                <th>组长</th>
                <th>当前组员</th>
                <th>组序列号</th>
                <th>组队时间</th>
                <th>解散队伍</th>
              </tr>
            </thead>
            <tbody>
            {% for group in groups %}
              <tr>
                <td>{{ group.group_name }}</td>
                <td>{{ group.group_leader }}</td>
                <td>{{ group.group_members }}</td>
                <td>{{ group.group_serial }}</td>
                <td>{{ group.group_register_time }}</td>
                <td><a href = "{% url 'dismissgroupform' group.group_serial %}">解散分组</a></td>
              </tr>
            {% endfor %}
            </tbody>
            </table>

            <h4><strong class="text-danger">{{ status_dismissgroup }}</strong></h4>

{% endblock  %}
