{% extends 'lab3app/base.html' %}

{% block page_title  %}个人成绩{% endblock %}

{% block page_content %}

          <div class="row">
            <h3>个人成绩表</h3>
            <table class="table">
            <thead>
              <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>测试评分1</th>
                <th>测试评分2</th>
                <th>注释评分3</th>
                <th>总分</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ student.student_id }}</td>
                <td>{{ student.student_name }}</td>
                <td>{{ score.score_1 }}</td>
                <td>{{ score.score_2 }}</td>
                <td>{{ score.score_3 }}</td>
                <td>{{ score.score_total }}</td>
              </tr>
            </tbody>
            </table>
          </div>


{% endblock %}
