{% extends 'lab3app/base.html' %}

{% block page_title  %}欢迎登录{% endblock %}

{% block page_content %}
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>欢迎 {{ user_name }} 登录Lab3系统</h1>
      </div>
      <p class="lead">Lab3系统用于国科大本科生数据库系统课程Lab3实验。相关功能说明如下：</p>
 
      <h3>个人信息</h3>
      <p>个人信息提供查询个人信息和查询成绩功能，请核对注册所使用的学号、姓名和邮件地址，学号和姓名有误请点击<a href="Mailto:liugang@ict.ac.cn?Subject=Lab3系统事务:用户账号问题">联系我们</a>，邮件地址有误将无法收到实验成绩相关的通知；成绩查询提供提交后成绩的实时查询功能，提交作业后程序异步批改并邮件给提交者成绩，通过此功能查询成绩请耐心等待。</p>

      <h3>分组信息</h3>
      <p>分组操作提供4个功能：创建分组、加入分组、退出分组和解散分组；分组的创建者作为组长，可以处理其他同学提交的加入和退出请求；其他同学的加入和退出请求需经组长的处理才能完成请求啊；若其他同学有未经组长处理的请求，那么该同学不能进行其他组操作，<strong class="text-danger">同时申请加入多个组会被系统拒绝</strong>；每位同学只能在一个组内，每组最多三位同学。</p>

      <h3>提交作业</h3>
      <p>提交作业<strong class="text-danger">只需要提交executor.h和executor.cc这两个文件，如果你在windows下提交，请注意文件编码格式</strong>，程序的运行环境是ubuntu，请直接命名为这两个文件名分别提交即可，同一组内任意一位同学提交即可，这位同学在程序异步评分后会接收到成绩邮件，同组同学也可登录系统查询成绩。特别说明，不要频繁提交，如果同一同学提交的作业还未评分，系统拒绝该同学的重复提交。同组同分，系统登记的分数为最新一次提交的评分。</p>

      <h3>意见建议</h3>
      <p>如果你对系统的使用有任何意见及建议，欢迎你提出！</p>

      <h3>退出系统</h3>
      <p>使用后请注意退出系统，以免发生信息泄漏和篡改！</p>

    </div> <!-- /container -->
{% endblock %}
